/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
}
/*CSS variables*/
:root{
    --navbar-height:59px;
}
/*Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
   
}
/*Logo and image*/
#logo{
    
margin: -10px 16px;
}
#logo img{
    height: 67px;
    margin: 36px 45px;
}
#navbar{
    position: absolute;
}
#navbar ul{
    display: flex;
    font-family:  'Baloo Bhai 2', cursive;;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 220%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    /*color: white;*/
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
}
#navbar ul li a:hover{
    color: black;
  background-color: white;
}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 15px 117px;
    height: 501px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url(https://cdn.pixabay.com/photo/2017/02/06/19/25/mandarins-2043983__340.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.84;
}
#home h1{
    color: white;
    text-align: center;
    font-family:  'Baloo Bhai 2', cursive;;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family:  'Baloo Bhai 2', cursive;;
}
/*services*/
#services{
    margin: 48px;
    display: flex;
}
#services .class{
    border: 2px solid red;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
}
#services .class img{
    height: 150px;
    margin: auto;
    display: block;

}
#services{}
#client-section{
height: 344px;
}
#client-section::before{
content: "";
background:url(https://img.freepik.com/free-photo/delicious-vietnamese-food-including-pho-ga-noodles-spring-rolls-white-table_181624-34062.jpg?size=626&ext=jpg )no-repeat center center/cover;
position: absolute;
width: 100%;
height: 47%;
z-index: -1;
opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 150px;
}
.client-item{
    padding: 19px;
}
#contact{
    position: relative;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000__480.jpg)no-repeat center center/cover;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    
}
.h-secondary{
    font-size:1.8rem ;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid red;
    background-color: saddlebrown;
    color: snow;
    margin: 17px;
    font-size: 1rem;   
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}